<a href="https://colab.research.google.com/github/Nithin46/KDM_ICP1/blob/main/KDM_ICP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Step 1: Below snippet is to import all the libraries that we are going to use**

In [1]:
import nltk
nltk.download('punkt')
import pandas as pd
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.probability import FreqDist
import matplotlib.pyplot as plt

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

**Step 2: Connecting to the Google Drive**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Step 3: Once it connected, read the file as pandas dataframe. To do this we need to copy the file location in the code**

In [3]:
dataset=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/input_file.txt",delimiter="\t")
dataset

Empty DataFrame
Columns: [Text Analytics has lots of applications in today's online world. By analyzing tweets on Twitter, we can find trending news and peoples reaction on a particular event. Amazon can understand user feedback or review on the specific product. BookMyShow can discover people's opinion about the movie. Youtube can also analyze and understand peoples viewpoints on a video.]
Index: []

**Stpe 4: After successfully completing the above steps, we have to perform different operations on the file that we took from drive. Before that, I am converting the data set to text using below snippet**

In [4]:
text= dataset.to_string()
print(text)

Empty DataFrame
Columns: [Text Analytics has lots of applications in today's online world. By analyzing tweets on Twitter, we can find trending news and peoples reaction on a particular event. Amazon can understand user feedback or review on the specific product. BookMyShow can discover people's opinion about the movie. Youtube can also analyze and understand peoples viewpoints on a video.]
Index: []

**Operation 1: Printing the first 50 characters in the text**

In [6]:
print(text[:50])

Empty DataFrame
Columns: [Text Analytics has lots

**Operation 2: Sorting the characters in the file and find out the unique characters in that**

In [7]:
t1 = sorted(set(text))
print(t1)
print('{} unique characters'.format(len(t1)))

['\n', ' ', "'", ',', '.', ':', 'A', 'B', 'C', 'D', 'E', 'F', 'I', 'M', 'S', 'T', 'Y', '[', ']', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
43 unique characters