**Step 1: Below snippet is to import all the libraries that we are going to use**

In [15]:
import nltk
nltk.download('punkt')
import pandas as pd

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

**Step 2: Connecting to the Google Drive**

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Step 3: Once it connected, read the file as pandas dataframe. To do this we need to copy the file location in the code**

In [17]:
dataset=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/input_file.txt",delimiter="\t")
dataset

Empty DataFrame
Columns: [Text Analytics has lots of applications in today's online world. By analyzing tweets on Twitter, we can find trending news and peoples reaction on a particular event. Amazon can understand user feedback or review on the specific product. BookMyShow can discover people's opinion about the movie. Youtube can also analyze and understand peoples viewpoints on a video.]
Index: []

**Stpe 4: After successfully completing the above steps, we have to perform different operations on the file that we took from drive. Before that, I am converting the data set to text using below snippet**

In [18]:
text= dataset.to_string()
print(text)

Empty DataFrame
Columns: [Text Analytics has lots of applications in today's online world. By analyzing tweets on Twitter, we can find trending news and peoples reaction on a particular event. Amazon can understand user feedback or review on the specific product. BookMyShow can discover people's opinion about the movie. Youtube can also analyze and understand peoples viewpoints on a video.]
Index: []

**Operation 1: Printing the first 75 characters in the text**

In [20]:
print(text[:75]) # It prints the first 75 characters in the data

Empty DataFrame
Columns: [Text Analytics has lots of applications in today'

**Operation 2: Sorting the characters in the file and find out the unique characters in that**

In [21]:
t1 = sorted(set(text)) # It sorts the characters 
print(t1)
print('{} unique characters'.format(len(t1))) # Printing the unique characters count

['\n', ' ', "'", ',', '.', ':', 'A', 'B', 'C', 'D', 'E', 'F', 'I', 'M', 'S', 'T', 'Y', '[', ']', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
43 unique characters

**Operation 3: Split the words based on our choice in the file and printing the length**

In [24]:
s1 = text.split(".") # It splits the data where ever "." present
s1

["Empty DataFrame\nColumns: [Text Analytics has lots of applications in today's online world",
 ' By analyzing tweets on Twitter, we can find trending news and peoples reaction on a particular event',
 ' Amazon can understand user feedback or review on the specific product',
 " BookMyShow can discover people's opinion about the movie",
 ' Youtube can also analyze and understand peoples viewpoints on a video',
 ']\nIndex: []']

**Operation 4: Converting the characters to upper case, lower case**

In [23]:
l1 = text.swapcase() # it swap all the character cases i.e lower->upper and upper->lower
print(l1)
l2 = text.lower()  # it converts all the characters to lowercase
print(l2)
l3 = text.upper()  # it converts all the characters to uppercase
l3

eMPTY dATAfRAME
cOLUMNS: [tEXT aNALYTICS HAS LOTS OF APPLICATIONS IN TODAY'S ONLINE WORLD. bY ANALYZING TWEETS ON tWITTER, WE CAN FIND TRENDING NEWS AND PEOPLES REACTION ON A PARTICULAR EVENT. aMAZON CAN UNDERSTAND USER FEEDBACK OR REVIEW ON THE SPECIFIC PRODUCT. bOOKmYsHOW CAN DISCOVER PEOPLE'S OPINION ABOUT THE MOVIE. yOUTUBE CAN ALSO ANALYZE AND UNDERSTAND PEOPLES VIEWPOINTS ON A VIDEO.]
iNDEX: []
empty dataframe
columns: [text analytics has lots of applications in today's online world. by analyzing tweets on twitter, we can find trending news and peoples reaction on a particular event. amazon can understand user feedback or review on the specific product. bookmyshow can discover people's opinion about the movie. youtube can also analyze and understand peoples viewpoints on a video.]
index: []

"EMPTY DATAFRAME\nCOLUMNS: [TEXT ANALYTICS HAS LOTS OF APPLICATIONS IN TODAY'S ONLINE WORLD. BY ANALYZING TWEETS ON TWITTER, WE CAN FIND TRENDING NEWS AND PEOPLES REACTION ON A PARTICULAR EVENT. AMAZON CAN UNDERSTAND USER FEEDBACK OR REVIEW ON THE SPECIFIC PRODUCT. BOOKMYSHOW CAN DISCOVER PEOPLE'S OPINION ABOUT THE MOVIE. YOUTUBE CAN ALSO ANALYZE AND UNDERSTAND PEOPLES VIEWPOINTS ON A VIDEO.]\nINDEX: []"